---
---

@import "{{ site.theme }}";

body {
   background: #f2f2f2;
}

/* override inner */
.inner {
   margin: 0 10%;
}

/* override */
#header_wrap .inner {
    margin: 0 auto; // center
    padding: 20px 10px 10px 10px;
}

/* Flexbox container */
.below_header_box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    align-items: stretch;
    max-width: 1000px;
    margin: 0 auto;
}

.sidebar {
    flex-shrink: 0;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden; /* no horizontal scroll */
    padding-top: 20px;
    background-color: #f2f2f2;

    .collapsible {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;

        &:hover {
            background-color: #ccc;
        }

        &:after {
            content: '\FF0B'; /* Unicode character for "plus" sign (+) */
            font-size: 13px;
            color: white;
            float: right;
            margin-left: 5px;
        }
    }

    .active {
        background-color: #ccc;
        &:after {
            content: "\2212"; /* Unicode character for "minus" sign (-) */
        }
    }

    /* collapsible content is hidden by default */
    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f2f2f2;
    }
}

/* Style page content */
.non-sidebar {
    display: flex;
    flex-grow: 4;
    /*margin-left: 250px;  Same as the width of the sidebar */
}

@media screen and (max-width: 600px){
   .sidebar {
      display: none;
   }
}
