---
---

@import "{{ site.theme }}";

.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden; /* no horizontal scroll */
    padding-top: 20px;
    background-color: #f1f1f1;

    .collapsible {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
         
        &:hover {
            background-color: #ccc;
        }
        
        &:after {
            content: '\FF0B'; /* Unicode character for "plus" sign (+) */
            font-size: 13px;
            color: white;
            float: right;
            margin-left: 5px;
        }
    }
    
    .active {
        background-color: #ccc;
        &:after {
            content: "\2212"; /* Unicode character for "minus" sign (-) */
        }    
    }

    /* collapsible content is hidden by default */
    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }
}

/* Style page content */
.non-sidebar {
    margin-left: 250px; /* Same as the width of the sidebar */
}

/* override inner */
.inner {
   margin: 0 10%;
}

#header_wrap .inner {
    padding: 20px 10px 10px 10px;
}

.non_header_box {
}
