---
---

@import "{{ site.theme }}";

.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden; /* no horizontal scroll */
    padding-top: 20px;
    background-color: #111; /* Black */

    .collapsible {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .active, .collapsible-hover {
        background-color: #ccc;
    }

    /* collapsible content is hidden by default */
    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }
}

/* Style page content */
#main-content-wrap {
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
