# Formal Software Verification

* [Coq](http://coq.inria.fr/)  – Coq is a formal proof management system. It provides a formal language to write mathematical definitions, executable algorithms and theorems together with an environment for semi-interactive development of machine-checked proofs.
* [Why3](http://why3.lri.fr/)  – Why3 is a platform for deductive program verification. It provides a rich language for specification and programming, called WhyML, and relies on external theorem provers, both automated and interactive, to discharge verification conditions.
* [Alt-Ergo](http://alt-ergo.lri.fr/)  – Alt-Ergo is an open-source SMT solver dedicated to the proof of mathematical formulas generated in the context of program verification.
